<html>
<head>
    <title>User list</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        .spoiler {
            border: 1px solid #e0e0e0;
            padding: 0 1em;
        }
        .spoiler details {
            padding: 1em 0;
        }
        .spoiler details + details {
            border-top: 1px solid #e0e0e0;
        }
        .spoiler summary {
            color: #4d5895;
        }
        .spoiler details div {
            overflow: hidden;
            padding: 1em 1em 0;
        }
        .spoiler details[open] div {
            animation: spoiler 1s;
        }
        @keyframes spoiler {
            0%   {max-height: 0;}
            100% {max-height: 10em;}
        }
    </style>
</head>
<!--так виглядає сторінка localhost:8080/users-->
<body>
<!--тут форма, через яку він приймає нового лікаря-->
    <div>
        <a href="\">HOME</a> | <a href="\programs">PROGRAMS</a><br><br>


        <div class="spoiler"><details>
        <summary>Create new doctor</summary>
        <form name="addnewdoc" method="post" action="adddoctor">
            <br> <b>Name: </b>
            <input type="text" name="name" required placeholder="Name" /><br><br>
            <b>Gender: </b>
            <input type="radio" name="gender" value="Male">Male
            <input type="radio" name="gender" value="Female">Female
            <input type="radio" name="gender" value="Non-binary" checked>Non-binary<br><br>
            <b>Organization: </b>
            <input type="text" name="organization" required placeholder="Organization" /><br><br>
            <b>Specialty: </b>
            <input type="text" name="specialty" required placeholder="Specialty" /><br><br>
            <b>Country: </b>
            <input type="radio" name="country" value="Ukraine" checked>Ukraine
            <input type="radio" name="country" value="USA">USA
            <input type="radio" name="country" value="Israel">Israel<br><br>
            <b>City: </b>
            <input type="text" name="city" required placeholder="City" /><br><br>
            <b>Date of birth: </b>
            <input type="date" name="dateOfBirth"  id="dobs" required placeholder="Date of birth" /><br><br>
            <b>Email: </b>
            <input type="text" name="email" required placeholder="email" /><br><br>
            <b>Phone number: </b>
            <input type="number" name="phoneNumber" required placeholder="phone number (without calling code)" /><br><br>
            <b>Password: </b>
            <input type="text" name="password" required placeholder="password..." /><br><br>

              <button type="submit">Add</button>
              <button type="reset">Cancel</button>
        </form>
        </details></div><br>

        <!--тут він виводить лікарів...-->
   <b>Doctors List</b><br>
<!--тут поле для фільтрації лікарів з БД-->
<form name="doctorsfilter" method="post" action ="docfil">
    <input type="text" name="dfilter" placeholder="Fiter by name..." />
    <button type="submit">Find</button>
</form><br>
<!--виведення об'єктів БД: всіх або відфільтрованих-->
{{#doctors}}
    <div>
        <b>ID: {{doctorId}}  |  NAME: {{name}}  </b>| PSSWRD: {{password}}<br>
        <p>GENDER: {{gender}}  |   DOB: {{dateOfBirth}}</p>
        <p>ORGANIZATION: {{organization}}  |  SPECIALTY: {{specialty}}</p>
        <p>{{country}}, {{city}}</p>
        <p>{{email}}</p>
        <p>{{phoneNumber}}</p><br>
    </div>
{{/doctors}}



<!--тут форма, через яку він приймає новий акаунт батьків. було б дуже круто зробити її під "спойлером", щоб воно не займало половину екрану-->
<div class="spoiler"><details>
    <summary>Create new parent account</summary>
    <form name = "addnewpar" method="post" action="addparent">
        <br><b>Username: </b>
        <input type="text" name="username" required placeholder="Username" /><br><br>
        <b>Country: </b>
        <input type="radio" name="country" value="Ukraine" checked>Ukraine
        <input type="radio" name="country" value="USA">USA
        <input type="radio" name="country" value="Israel">Israel<br><br>
        <b>City: </b>
        <input type="text" name="city" required placeholder="City" /><br><br>
        <b>Email: </b>
        <input type="text" name="email" required placeholder="email" /><br><br>
        <b>Phone number: </b>
        <input type="number" name="phoneNumber" required placeholder="phone number (without calling code)" /><br><br>
        <b>Password: </b>
        <input type="text" name="password" required placeholder="password..." /><br><br>

          <button type="submit">Add</button>
          <button type="reset">Cancel</button>
    </form>
</details></div><br>
        <!--тут він виводить батьків...-->
        <b>Parents List</b><br>
<!--тут поле для фільтрації батьків з БД-->
<form name="parentsfilter" method="post" action ="parfil">
    <input type="text" name="pfilter" placeholder="Filter by name..." />
    <button type="submit">Find</button>
</form><br>
<!--виведення об'єктів БД: всіх або відфільтрованих-->
{{#parents}}
    <div>
        <b>ID: {{parentId}}  |  USERNAME: {{username}} |  PSSWRD:  {{password}}</b>
        <p>{{country}}, {{city}}</p>
        <p>{{email}}</p>
        <p>{{phoneNumber}}</p><br>
       <br>
    </div>
{{/parents}}

<!--тут форма, через яку він приймає нову дитину. було б дуже круто зробити її під "спойлером", щоб воно не займало половину екрану-->
<div class="spoiler"><details>
    <summary>Create new kid</summary>
    <form name = "addnewkid" method="post" action="addkid">
        <br> <b>Name: </b>
        <input type="text" name="name" required placeholder="Name" /><br><br>
        <b>Gender: </b>
        <input type="radio" name="gender" value="Male">Male
        <input type="radio" name="gender" value="Female">Female
        <input type="radio" name="gender" value="Non-binary" checked>Non-binary<br><br>
        <b>Diagnose: </b>
        <input type="text" name="diagnose" required placeholder="Diagnose" /><br><br>
        <b>Country: </b>
        <input type="radio" name="country" value="Ukraine" checked>Ukraine
        <input type="radio" name="country" value="USA">USA
        <input type="radio" name="country" value="Israel">Israel<br><br>
        <b>City: </b>
        <input type="text" name="city" placeholder="City" /><br><br>
        <b>Date of birth: </b>
        <input type="date" name="dateOfBirth"  id="dobs" required placeholder="Date of birth" /><br><br>
        <b>Weight: </b>
        <input type="text" name="weight" placeholder="Weight" />
        <b>Height: </b>
        <input type="text" name="height" placeholder="Height" /><br><br>
        <b>Blood type and Rh: </b><br>
        <input type="radio" name="bloodType" value="A+" checked>A+
        <input type="radio" name="bloodType" value="A-">A-<br>
        <input type="radio" name="bloodType" value="B+">B+
        <input type="radio" name="bloodType" value="B-">B-<br>
        <input type="radio" name="bloodType" value="O+">O+
        <input type="radio" name="bloodType" value="O-">O-<br>
        <input type="radio" name="bloodType" value="AB+">AB+
        <input type="radio" name="bloodType" value="AB-">AB-<br><br>

          <button type="submit">Add</button>
          <button type="reset">Cancel</button>
    </form>
</details></div><br>
        <!--тут він виводить дітей...-->
<b>Kids List</b><br>
<!--тут поле для фільтрації дітей з БД-->
<form name="kidsfilter" method="post" action ="kidfil">
    <input type="text" name="kfilter" placeholder="Filter by name..." />
    <button type="submit">Find</button>
</form><br>
<!--виведення об'єктів БД: всіх або відфільтрованих-->
{{#kids}}
    <div>
        <b>ID: {{kidId}}  |  NAME: {{name}}  </b>
        <p>GENDER: {{gender}}  </p>
        <p>DIAGNOSE: {{diagnose}}  </p>
        <p>COUNTRY: {{country}}  </p>
        <p>CITY: {{city}}  </p>
        <p>DOB: {{dateOfBirth}}  </p>
        <p>WEIGHT: {{weight}}  </p>
        <p>HEIGHT: {{height}}  </p>
        <p>BLOODTYPE: {{bloodType}}  </p><br>
    </div>
{{/kids}}
    </div>
</body>

</html>